<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<!-- Bean connection -->
	<import resource="applicationContext-database.xml" />
	
	<!-- DAO -->
	<bean id="categoryDAO" class="com.icoundoul.icosime.dao.impl.CategoryDao">
		<property name="dataSource" ref= "dataSource"></property>
	</bean>
	<bean id="productDAO" class="com.icoundoul.icosime.dao.impl.ProductDao">
		<property name="dataSource" ref= "dataSource"></property>
	</bean>
	<bean id="itemDAO" class="com.icoundoul.icosime.dao.impl.ItemDao">
		<property name="dataSource" ref= "dataSource"></property>
	</bean>
	<!-- <bean id="customerDAO" class="com.icoundoul.icosime.dao.impl.CustomerDao">
		<property name="connection" ref= "connection"></property>
	</bean> -->
	

</beans>
